Acquire::http::Proxy "http://{{ proxy['user'] }}:{{ proxy['pass'] }}@{{ proxy['addr'] }}:{{ proxy['port'] }}/";
Acquire::https::Proxy "http://{{ proxy['user'] }}:{{ proxy['pass'] }}@{{ proxy['addr'] }}:{{ proxy['port'] }}/";